@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'founders';
    src: url('./fonts/FoundersGrotesk-Semibold.ttf');
    /* Add more src declarations for different font file formats if needed */
  }
  /* body {
    font-family: 'founders', sans-serif;
  } */